* {
    padding: 0;
    margin: 0;
  }
  
  h1,
  h2,
  h3,
  h4 h5,
  h6,
  ul,
  li,
  p {
    margin: 0;
  }
  
  li {
    list-style-type: none;
    cursor: pointer;
  }
  a {
    text-decoration: none;
  }

  input:focus{
      box-shadow: none !important;
      outline: none !important;
  }

  .App {
    padding-bottom: 30px ;
  }
  
  .Login {
    form {
      max-width: 500px;
      margin: 0 auto;
      .form-group {
        label {
          font-size: 14px;
          color: #4d4d4d;
          font-weight: 500;
        }
        .form-control:focus {
          box-shadow: none !important;
        }
        button {
          display: block;
          width: 100%;
        }
        p {
          display: flex;
          justify-self: center;
          align-items: center;
          &:focus{
              box-shadow: none;
              outline: none;
          }
        }
      }
  
  
  
      .help-block {
        font-size: 12px;
        color: #b30a0a;
        font-weight: 600;
      }
    }
  }
  
  .dashboard-wrapper {
    padding-top: 40px;
    .searchBar {
      text-align: center;
      padding: 0 0 50px;
      input {
        background: #edeff0;
        border: 2px solid #d7dbdf;
        max-width: 400px;
        width: 100%;
        border-radius: 5px;
        height: 40px;
        font-size: 18px;
        color: #887575;
        padding: 0 10px;
        font-weight: 500;
      }
    }
    .sortable-buttons {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      button {
        background: #051c33;
        color: #fff;
        border: none;
        font-size: 18px;
        font-weight: 600;
        width: 127px;
        border-radius: 5px;
        height: 33px;
        margin: 0 20px 10px;
        cursor: pointer;
      }
      button.active {
        background: #b72f2f !important;
        border: 2px solid #b72f2f !important;
      }
    }
    .gallery {
      h1 {
        padding: 40px 0;
      }
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      li {
        width: 25%;
        padding: 20px;
        img {
          width: 100%;
          max-height: 178px;
          height: 100%;
        }
      }
    }
  }
  
  .loader{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    top: 0;
    left: 0;
    opacity: 0.5;
    z-index: 1;
  }

  .innerSpinner {
    svg{
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      z-index: 2;
    }
  }
